.contenedor{
    position: relative;
    width: 1512px;
    height: 1513px;

    background: #FFFFFF;
    margin: 0;
}
.navegation{
    position: absolute;
    width: 1512px;
    height: 100px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    align-items:  center;
}
.logo{
    position: absolute;
    width: 193px;
    height: 47.85px;
    left: 197px;
    top: 24.15px;  
}
.reactangulo{
    width: 124px;
    height: 36px;
    left: 876px;
    top: 34px;
    background: #F5F5F5;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reactangulo ul{
    
    background: #F5F5F5;
}
.links{
    position: absolute;
    width: 439px;
    height: 36px;
    left: 876px;
    top: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.links ul{
    padding: 0;
    margin: 0;
}
.inicio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #6E29A9;
    list-style: none;
    text-decoration: none;
    
    
   
}
.second{
    width: 91px;
    height: 23px;
    left: 1046px;
    top: 41px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #01A1E9;
    list-style: none;
    text-decoration: none;

}

.titulo{
    position: absolute;
    width: 795px;
    height: 75px;
    left: 375px;
    top: 205px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    color: #8200FF;
    margin: 0;
}

.parrafo1{
    position: absolute;
    width: 741px;
    height: 208px;
    left: 197px;
    top: 354px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
    margin: 0;
}

.imgcell{
    position: absolute;
    width: 366px;
    height: 250px;
    left: 949px;
    top: 354px;

    background: url(/img/estadisticacell.svg);
}
.titulo2{
    position: absolute;
    width: 596px;
    height: 56px;
    left: 197px;
    top: 704px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;

    color: #1B314F;
    margin: 0;
    }

.parrafo2{
    position: absolute;
width: 1118px;
height: 101px;
left: 197px;
top: 760px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #000000;
margin: 0;
}

.titulo3{
    position: absolute;
    width: 447px;
    height: 42px;
    left: 197px;
    top: 1023px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;

    color: #523E97;
    margin: 0;
}

.lista{
    position: absolute;
    width: 539px;
    height: 69px;
    left: 217px;
    top: 1082px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
}
.lista ul li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;
}


.fot{
    position: absolute;
    width: 1512px;
    height: 189px;
    left: 0px;
    top: 1328px;

    background: #1B314F;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contenedoraguito{

    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin: 251px;
}

.aguito{
    
    width: 153px;
    height: 40px;
    left: 251px;
    top: 2334px;
    margin: 0;
    margin-left: 16%;
}

.loremfother{
    width: 245px;
    height: 40px;
    left: 1070px;
    top: 2334px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    margin: 0;
    margin-left: 44.5%;
}